<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!---->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="static/js/jquery-3.4.1.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div>
		<h4 class="title">Insert Fotografia</h4>
		<p th:text="${exists}"></p>
	</div>
	<form th:action="@{/funz/fotografia}" th:method="POST" th:object="${fotografia}">
		<table>
			<tr>
				<td>Url Immagine:</td>
				<td><input type="text" th:field="*{immagineUrl}" /></td>
				<td th:if="${#fields.hasErrors('immagineUrl')}" th:errors="*{immagineUrl}"></td>
			</tr>		
			<tr>
				<td>Titolo:</td>
				<td><input type="text" th:field="*{titolo}"/></td>
				<td th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></td>
			</tr>			
            <tr>
            <td>
			<select th:field="*{album}">
      			<option th:each="album : ${albums}" th:value="${album.id}" th:text="${album.titolo}"></option>
			</select>
			</td>	
            </tr>
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
		</table>
	</form>
</body>
</html>

<!-- 

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Upload Files</title>
</head>
<body>
   <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="files" multiple>
      <input type="submit" value="Upload Files"></input>
   </form>
</body>
</html>

 -->