<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<title>Album List</title>
</head>
<body>
	<div>
    	<h4>Albums</h4>
		<div>
			<table class="table">
				<tr th:each="album : ${albums}">
					<td><a th:href="@{'/album' + '/' + ${album.id}}"><span th:text="${album.titolo}"></span></a></td>	
                </tr>
            </table>
   		</div>
    </div>

</body>
</html>