<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!---->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="static/js/jquery-3.4.1.min.js"></script>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script><title>Fotografia</title>
</head>
<body>
	<h1 th:text="${fotografia.titolo}">Titolo</h1>
	<a th:href="@{'/addOrdine'}">Aggiungi foto all'ordine</a>
	<a th:href="@{/completaOrdine}"></a>
	<img style="height=400px; width=400px" th:src="@{'../images/'+${fotografia.immagineUrl}}"/>
</body>
</html>

<!-- @{'~/Silph/src/main/resources/static/' + ${fotografia.immagineUrl}} -->
<!-- @{'/fotografia' + '/' + ${fotografia.id}} -->
<!-- @{/css/style.css} -->
<!-- @{'../static/images/'+${fotografia.immagineUrl}} -->
<!-- src="../images/ciao.jpg" -->